@import "tailwindcss";

@theme {
    --color-roulette-brass: #c5a363;
    --color-roulette-brass-dark: #a17e44;
    --color-roulette-gold: #f4e7c1;
    --color-text-roulette-gold: #f4e7c1;
    --color-roulette-green: #076d3f;
    --color-roulette-red: #bb1717;
    --color-roulette-black: #111;
}

body {
    /* Klasyczny, głęboki filc z teksturą */
    background-color: #0b3326;
    background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
    color: var(--color-text-roulette-gold);
    font-family: 'Playfair Display', serif;
    margin: 0;
}

/* Klasa dla elementów z fotorealistycznym drewnem */
.wood-panel {
    background-image: url("https://images.unsplash.com/photo-1551269901-5c5e14c25df7?q=80&w=1000&auto=format&fit=crop");
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 40px rgba(0,0,0,0.8), 0 10px 30px rgba(0,0,0,0.5);
    border: 2px solid #5a3c22;
}

.roulette-number {
    font-family: 'Playfair Display', serif;
}